*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:150%;
    background-color:rgba(116, 30, 30, 0.808);
    box-sizing:border-box;
}

h1{
    text-align:center;
    margin:2rem 0 3rem;
    
}

.title
{
    color:rgba(0, 0, 0, 0.986);
    font-weight:500px;
    font-size:120px;
}

.inputDiv
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.input{
    padding:0.5 1rem;
    outline:none;
    height:50px;
    border-radius:10px;
    width:320px;
    margin:0.40rem;
    transition: .5s;
    font-size: 1.15rem;

}

.add{
    outline:none;
    border:none;
    width:50px;
    border-radius:10px;
    height:50px;
    background-color:rgb(0, 0, 0);
    color:white;
    cursor:pointer;
    transition:.5s;
    margin:0.25rem;
}

.add:hover
{
    background:rgb(95, 95, 102);

}

.container
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-top:2rem;

}

.item_input
{
    background:cornsilk;
    outline:none;
    border:3px solid rgb(75, 73, 77);
    border-radius: 10px;
    padding:10px;
    color:black;
    margin-top:15px;
    font-size:20px;
    width:315px;
    
}

.remove
{
    background:none;
    outline:none;
    border:none;
    color:rgb(2, 2, 2);
    font-size:2rem;
    margin-left:30px;
    cursor:pointer;

}

.remove_btn
{
    margin-top:35px;
    color:white;
    text-transform:uppercase;
    text-decoration:none;
    background:rgb(5, 5, 5);
    padding:20px;
    border-radius:5px;
    display:inline-block;
    text-align:center;
    border:none;
    font-size:15px;
    transition:all 0.4s ease 0s;
    height:55px;

    width:150px;

}

.remove_btn:hover{
    background:rgb(8, 8, 8);
    letter-spacing:1px;
    -webkit-box-shadow:0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow:0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition:all 0.4s ease 0s;
    

}